/* Estilos para arcade */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    /* Arcade font */
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* Altura completa de la ventana */
}

.section {
    flex: 1;
    /* Cada sección ocupará la misma cantidad de espacio */
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    /* Solo para que visualices las secciones */
}

.section-img {
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    /* Centra los elementos dentro de las columnas */
}

.card {
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.arcade-login {
    display: inline;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    background-color: #ff1e56;
    padding: 10px 25px;
    border-radius: 10px;
}

/* Modal Styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    width: 25%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: -100%;
    animation: slideInFromRight 1.8s forwards;
}

/* servira para la opacida del form */
.opacidad-modal {
    opacity: 1;
    animation: opacity-modal 1.8s ease-in-out;
}

@keyframes opacity-modal {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }  
    100% {
        opacity: 1;
    }
}

/* colores botones de login y registrarse */

#btn-login{
    background-color: #ff1e56;
}

#btn-register{
    background-color: #0fb243;
}

#switchToRegister{
    background-color: #0fb243;
}


.section-active {
    display: block;
}

.section-hidden {
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Notificación inicial oculta */
.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(50, 115, 220, 0.9); /* Color azul con transparencia */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
}

/* Animación de aparición */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animación de desaparición */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

/* Clase para mostrar la notificación con animación */
.notification.show {
    display: block;
    animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards 2s; /* Se desvanece después de 2 segundos */
}


/* Animación de entrada desde la derecha */
@keyframes slideInFromRight {
    0% {
        left: 100%;
        /* Empieza fuera de la pantalla, en la derecha */
    }

    100% {
        left: 73%;
        /* Llega al centro de la pantalla */
    }
}

/* Animación de salida hacia la derecha */
@keyframes slideOutToRight {
    0% {
        left: 73%;
        /* Empieza desde la posición en el centro */
    }

    100% {
        left: 100%;
        /* Se va fuera de la pantalla, hacia la derecha */
    }
}

/* Clase para la animación de cierre */
.modal-content.close-animation {
    animation: slideOutToRight 1.5s forwards;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-arcade {
    margin-top: 10px;
    background-color: #ff1e56;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-arcade:hover {
    background-color: #ff4757;
}

.center-card {
    margin: 0 auto;
}

.right-card {
    margin-left: auto;
}

.top-card {
    margin-top: 10px;
}

.content-section-1-card {
    padding-left: 20px;
    padding-right: 20px;
}

.content-section-1-card p {
    text-align: left;
}

.content-section-1-card h2 {
    margin-top: 0;
}

.content-section-3-card p {
    text-align: right;
}

/* estilos para el arcade */
.card-img {
    max-width: 270px;
    height: 180px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-img-top {
    margin-top: 50px
}

/* Estilo para la palabra a adivinar */
.word-container {
    text-align: center;
    margin-top: 10%;
    /* Espacio entre las imágenes y la palabra */
}

.word-to-guess {
    font-size: 24px;
    letter-spacing: 10px;
    /* Espacio entre cada letra o guion */
    color: #333;
}

/* Estilo para el botón de comenzar juego */
.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ff1e56;
    border: 1px solid #333;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    /* Arcade font */
}

/* Estilo para el boton de regresar */

.btn-back {
    display: block;
    margin-left: 0;
}

/* estilo para la animacion cuando le de click a comenzar juego */

.btn-play-move {
    position: relative;
    animation: btn-play-move 3s forwards;
}

@keyframes btn-play-move {
    0% {
        transform: translateY(0);
        /* Comienza en su posición original */
    }

    100% {
        transform: translateY(-100vh);
        /* Se mueve una altura completa de la pantalla */
    }
}

.btn-play-home {
    animation: btn-play-home 1.8s forwards;
}

@keyframes btn-play-home {
    0% {
        transform: translateY(100vh);
        /* Empieza en su posición actual */
    }

    100% {
        transform: translateY(0);
        /* Se mueve hacia abajo fuera de la pantalla */
    }
}


.game-play {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    position: relative;
    transform: translateY(100%);
    /* Empieza fuera de la pantalla */
    animation: slideInFromButton 1.8s forwards;
}

@keyframes slideInFromButton {
    0% {
        transform: translateY(0);
        /* Comienza desde fuera de la pantalla */
    }

    100% {
        transform: translateY(-100%);
        /* Llega al centro de la pantalla */
    }
}

.game-play-exit {
    animation: slideOutToBottom 1.8s forwards;
}

@keyframes slideOutToBottom {
    0% {
        transform: translateY(-100%);
        /* Empieza en su posición actual */
    }

    100% {
        transform: translateY(-210%);
        /* Se mueve hacia abajo fuera de la pantalla */
    }
}

/* CSS Animations for Acertar  y errar Partida messages */
.success-container, .error-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Añade sombra para un mejor contraste */
  }
  
  .success-checkmark {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #4CAF50;
    position: relative;
    margin-bottom: 15px; /* Espacio entre el ícono y el texto */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .check-icon {
    position: relative;
    width: 60px;
    height: 60px;
  }
  
  .icon-line {
    position: absolute;
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
  }
  
  .line-tip {
    width: 20px;
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }
  
  .line-long {
    width: 40px;
    top: 25%;
    right: 1%;
    transform: rotate(-45deg);
    transform-origin: right bottom;
  }
  
  .icon-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #4CAF50;
    box-sizing: border-box;
  }
  .error-cross {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cross-icon {
    position: relative;
    width: 60px;
    height: 60px;
  }
  
  .cross-icon .icon-line {
    position: absolute;
    height: 5px;
    width: 60px; /* Ajusté la longitud para que cruce el círculo completamente */
    background-color: #fff;
    top: 50%; /* Posiciona verticalmente al centro */
    left: 50%; /* Posiciona horizontalmente al centro */
    transform-origin: center;
    
  }
  
  .cross-left {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .cross-right {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
/* Estilos para la palabra */


.word-container {
    text-align: center;
    margin-top: 10%;
}

.letter-input {
    width: 30px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: none;
    color:  #000;
    border-bottom: 2px solid #333;
    margin: 0 5px;
    background-color: transparent;
    outline: none;
    text-transform: uppercase;
}

.letter-input:focus {
    background-color: #ff1e56; /* Cambia el color al enfocar */
    color:  #fff;
}

/* Desplazamiento de imagenes durante la partida */
/* Animación de salida hacia arriba */
@keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  /* Clase para la animación de salida */
  .slide-up {
    animation: slideUp 1.5s ease-in forwards;
  }
  
  /* Animación de entrada desde abajo */
  @keyframes slideDown {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Clase para la animación de entrada */
  .slide-down {
    animation: slideDown 1.5s ease-out forwards;
  }
  